* {
    font-family: Helvetica, Arial, sans-serif;
}

body {
    padding: 60px;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}

input {
    font-size: 1.2rem;
    width: 100%;
}

.card-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.card {
    align-content: center;
    background-color: rgb(26, 24, 29);
    border: 1px solid rgb(26, 24, 29);
    border-radius: 6px;
    margin-bottom: 10px;
    margin-right: 10px;
    /*box-shadow: 5px 10px 8px rgb(4, 35, 41);*/
    overflow: hidden;/* Para que las imagenes no se salgan del contenedor */
}

.card p {
    color: rgb(255, 255, 255);
    padding: 5 px;
    text-align: center;
}
.card img {
    max-height: 170px;
    border-radius: 6px;
    margin:0px auto;
	display:block;
}